// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'resister';

@import 'spots/index';
@import 'spots/create';




footer{
  margin-top: 50px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.form-group{
  margin-bottom: 35px;
}