// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'resister';

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.form-group{
  margin-bottom: 35px;
}