
.page_title__resister{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 90px;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
}

.select-pref{
  width: 350px;
  margin-left: 15px;
  text-align: center;
}

.to_login{
  position: absolute;
  margin-top: 60px;
  margin-left: 550px;
}