
.page_title__resister{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 90px;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
}

.select-pref{
  width: 350px;
  margin-left: 15px;
  text-align: center;
}

.to_login{
  position: absolute;
  margin-top: 60px;
  margin-left: 550px;
}



.btn-gradient-radius {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
  font-weight: bold;
  text-shadow:
    1px 0 0 black,
    0 1px 0 black,
    -1px 0 0 black,
    0 -1px 0 black
    ;
}

.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}