.place_map{
  width: 100%;
  height: 500px;
}

.image{
  height: 350px;
  background-color: cornsilk;
}



#header {
  background-color: darkblue;
  padding: 3px;
  width: 1195px;
  font-family: Meriyo UI;
  font-size: 14px;
  color: white;
}

#target {
width: 100%;
height: 700px;
}

.preview{
  @media not all and (min-width: 600px) {
    display: block;
  }
  @media only screen and (min-width:600px) and (max-width: 1024px) {
    display: block;
  }
}
