.hero{
  position: relative;
  height: 800px;
  .hero_top{
    @media not all and (min-width: 600px) {
      margin-left: 10vw;
      font-size: 50px;
    }
    @media only screen and (min-width:600px) and (max-width: 1024px) {
      margin-left: 30vw;
    }

    position: absolute;
    z-index: 100;
    margin-left: 25vw;
    margin-top: 10%;
    color: #ffffff;
    font-family: fantasy;
    font-size: 60px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow:
      3px 3px 3px #808080, -3px -3px 3px #808080,
      -3px 3px 3px #808080,  3px -3px 3px #808080,
      3px 0px 3px #808080, -3px -0px 3px #808080,
      0px 3px 3px #808080,  0px -3px 3px #808080;
  }
  img{
    object-fit:cover;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .hero_right__contents{
    position: absolute;
    margin-top: 400px;
    margin-left: 60%;
    z-index: 100;
    color: #ffffff;
    h3{
      font-size: 25px;
      font-weight: bold;
      text-shadow:
        3px 3px 3px #808080, -3px -3px 3px #808080,
        -3px 3px 3px #808080,  3px -3px 3px #808080,
        3px 0px 3px #808080, -3px -0px 3px #808080,
        0px 3px 3px #808080,  0px -3px 3px #808080;
    }
  }
}

.top_contents{
  .spot_card{
    min-height: 477px;
  }
}

.new_spot{
  h3{
    display: inline-block;
    background-color: black;
    color: #ffffff;
    padding: 10px;
  }
  margin-top: 50px;
  img.new_spot__img{
    width: 250px;
    height: 200px;
  }
}

.popular_spot{
  h3{
    display: inline-block;
    background-color: black;
    color: #ffffff;
    padding: 10px;
  }
}

.announce_head{
  display: inline-block;
  background-color: #2ca559;
  color: #ffffff;
  padding: 10px;
}